<html layout:decorate="~{layout}">
<div layout:fragment="content">

	<h1>예약</h1>

	<label> <input type="radio" name="choice1" value="option1">
		옵션 1
	</label> <label> <input type="radio" name="choice1" value="option2">
		옵션 2
	</label> <label> <input type="radio" name="choice1" value="option3">
		옵션 3
	</label> <br>
	<br>
	<label> <input type="radio" name="choice2" value="option1">
		옵션 1
	</label> <label> <input type="radio" name="choice2" value="option2">
		옵션 2
	</label> <label> <input type="radio" name="choice2" value="option3">
		옵션 3
	</label> <br>

	<!-- 텍스트 입력 -->
	<label for="textInput">텍스트 입력:</label> <input type="text"
		id="textInput" name="textInput" placeholder="여기에 입력"> <br>
	<br>

	<label> <input type="radio" name="choice3" value="option1">
		옵션 1
	</label> <label> <input type="radio" name="choice3" value="option2">
		옵션 2
	</label> <label> <input type="radio" name="choice3" value="option3">
		옵션 3
	</label> <br>


	<button type="submit">제출</button>



</div>
</html>
