<html layout:decorate="~{layout}">
<div layout:fragment="content">
<style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
</style>

	
	<script src="js/searchParam.js"></script>
	<h1>검색 Param</h1>
	검색어 입력 : <input type="text" id="keyword" maxlength = "10">
	<button type="button" onclick="search()">검색</button>

	<!-- <div id="loading" style="display: none;">Loading...</div> -->
	<div class="spinner-border" role="status" id = "loading" style="display: none;">
	</div>	

	<div id="nothing">데이터가 없습니다</div>

	<section id="resultsection" style="visibility: hidden">

		<table id="table" >
			<thead>
				<tr>
					<td style="width :5%;">번호</td>
					<td style="width :25%;">문서제목</td>
					<td style="width :50%;">본문</td>
					<td style="width :20%;">작성일</td>
				</tr>
			</thead>

			<tbody id="tbody">
			</tbody>
		</table>

			
			<div id="pageBar">
		
				<!-- <button type="button" class="btn btn-outline-dark active" onclick="pageSet(this)" value = '3'>3쪽</button>
				<button type="button" class="btn btn-outline-dark">2</button> -->
		
			</div>
		
		</div>
		

	</section>



</div>
</html>