<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


</head>
<body>
<h1>지도</h1>



	<div id="map" style="width:750px;height:350px;"></div>

	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4744c6a0f40964abe0bca6e6b7db639e&autoload=true&libraries=services"></script>
	<!-- 523333f1a555299952c746db00a9938f -->
	<a href ="/map/jukgok">죽곡</a>
	
	<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		    mapOption = {
		        center: new kakao.maps.LatLng(35.8535979, 128.5797492), // 지도의 중심좌표
		        level: 3, // 지도의 확대 레벨
		        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
		    }; 

		// 지도를 생성한다 
		var map = new kakao.maps.Map(mapContainer, mapOption); 

		// 지도에 마커를 생성하고 표시한다
		var marker = new kakao.maps.Marker({
		    position: new kakao.maps.LatLng(35.8535979,128.5797492), // 마커의 좌표
		    map: map // 마커를 표시할 지도 객체
		});
		
		
		var namsan4 = [//남산 4동의 폴리곤 좌표
		    [128.5824900877616, 35.86220635712659],
		    [128.58285924279392, 35.856328027503956],
		    [128.5745839364292, 35.860057988189446],
		    [128.57420447635695, 35.862684185324916],
		    [128.58172166692066, 35.86476194105173],
		    [128.5824900877616, 35.86220635712659]  
		];
		
	
		
		var namsan4Paths = [];
		for (let i = 0; i < namsan4.length; i++) {
		    var point = namsan4[i];
		    //위도 경도 순서로 입력
		    namsan4Paths.push(new kakao.maps.LatLng(point[1], point[0])); //kakao.maps.LatLng 객체로 만들어야함
		}
		
		
		
		
		
		
		// 마커에 클릭 이벤트를 등록한다 (우클릭 : rightclick)
		kakao.maps.event.addListener(marker, 'click', function() {
		    alert('마커를 클릭했습니다!');
		    
		    
				mapOption = {
				        center: new kakao.maps.LatLng(35.8632376,128.5801206), // 지도의 중심좌표
				        level: 3, // 지도의 확대 레벨
				        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
				}; 
				var map = new kakao.maps.Map(mapContainer, mapOption); 
			
				var marker2 = new kakao.maps.Marker({
				    position: new kakao.maps.LatLng(35.8632376,128.5801206), // 마커의 좌표
				    map: map // 마커를 표시할 지도 객체
				});
		    	

				
				var polyline = new kakao.maps.Polygon({
					map: map, // 선을 표시할 지도 객체 
					path: namsan4Paths,
					fillColor: '#55ff66', // 채움 색
					fillOpacity: 0.5, // 채움 불투명도
					strokeWeight: 3, // 선의 두께 
					strokeColor: '#0066ff', // 선 색
					strokeOpacity: 0.9, // 선 투명도
					strokeStyle: 'solid' // 선 스타일
				});	
		    
		    

				

		});

	
		
		
	</script>


</body>
</html>