<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>아이디 추천기</h1>
 
 <input type="text" id="new_id">
 <button type = "button" onclick = recommend()>추천받기</button>
 <div id="idSection"></div>

<script>

function recommend() {
	var text = document.getElementById("new_id").value;
	console.log(text);
	if(text == ""){
		alert("입력하세요");
		return;
	}
	
	text = text.toLowerCase();

	if(!text.match(/[\w-\.]+/g)){
		//null 인 경우(ex ㅁㄴㅇㄹ, @@@)
		alert("허용하는 문자를 포함하여 아이디를 만들어 주세요.");
	}
	
	text = text.match(/[\w-\.]+/g).join(""); //비허용 문자 제거
	
	text = text.match(/(?<!\.)\.|([\w-]+)/g).join(""); // 앞에 .이 없는 . 과 다른 문자(\w, -)만 추출 

	text = text.replace(/^(\.)|(\.)$/g, ""); // 맨앞의 . 또는 맨뒤의 . 을 ""로 치환(replace 안쓰고는 ..ㅠ)

	text = text ? text : "a" ; //공백일 시, "a"로 치환

	//console.log(text.match(/^.{1,15}/g)); // array결과로 반환
	text = text.match(/^.{1,15}/)[0]; //앞 15글자

	text = text.replace(/(\.)$/g, ""); // 맨뒤의 . ""로 치환


	while(text.match(/^[\w-\.]{0,2}$/g)){ //0-2 자리 인 동안
		text = text + text.match(/.$/)[0];  //뒷자리를 추가
	}
	
	
	console.log(text);
	const section = document.getElementById("idSection");
	section.innerText = `${text}`;
	
	return text;
}



</script>
</body>
</html>
