<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- 데이트 피커 -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var dateFormat = "yy-mm-dd";
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          dateFormat: dateFormat,
          monthNames: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ],
          monthNamesShort: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"]
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        dateFormat: dateFormat,
        monthNames: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ],
        monthNamesShort: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"]
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  </script>
  
  <!-- full calendar -->
	<script src="
		https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js">
	</script>
	<script>
	 let eventList = [
 	    {
  	      id: 'a',
  	      title: 'my event',
  	      start: '2024-11-20'+"T00:00",
  	      end : '2024-11-23'+"T23:59"
  	    	
  	    }
  	  ];
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale: 'ko',
          aspectRatio: 3,
          events: eventList,
          displayEventTime: false 
        });
        calendar.render();
      });

    </script>
</head>
<body>

<form id="eventForm">
<label for="title">일정:</label>
<input type="text" id="title" name="title">
<br/>
<label for="from">시작일:</label>
<input type="text" id="from" name="from">
<label for="to">종료일:</label>
<input type="text" id="to" name="to">
<button type = "button" onclick = addRange() >등록</button>
</form>

<div id='calendar' ></div>

<script>
function rend() {
	
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      locale: 'ko',
      aspectRatio: 3,
      events: eventList,
      displayEventTime: false
      
    });
    calendar.render();
 }

function addRange(){
	
	var event = {};
	
	const title = document.getElementById("title").value;
	const from = document.getElementById("from").value;
    const to = document.getElementById("to").value;
	if(title === "" || from === "" || to === ""){
		alert("일정을 입력하세요");
		return;
	}
  
    event["id"] = eventList.length; 
    event["title"] = title;
    event["start"] = from + "T00:00";
    event["end"] = to + "T23:59";
	
	eventList.push(event);
    
	console.log(event);
	
	rend();
	
	document.getElementById("eventForm").reset();
	
}
</script>

</body>
</html>