<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- table style -->
<style>
/* 테이블 스타일 */
table {
	border: 1px solid #000; /* 테이블 테두리 */
	border-collapse: collapse; /* 2중 테두리 제거 */
	table-layout: fixed; /* 고정 레이아웃 설정 */
	font-size: 12px; /* 폰트 크기 설정 */
}
/* 헤더 셀 스타일 */
th {
	border: 1px solid #000; /* 셀 테두리 */
}
/* 데이터 셀 스타일 */
td {
	border: 1px solid #000; /* 셀 테두리 */
	overflow: hidden; /* 넘치는 내용 숨기기 */
	white-space: nowrap; /* 줄 바꿈 방지 */
	text-overflow: ellipsis; /* 잘린 부분에 ... 표시 */
}

</style>

</head>
<body>

	<h1>데이터 목록 표시</h1>
	<form id="personForm">
	이름 :
	<input type="text" id="name">
	<br /> 나이 :
	<input type="number" id="age" min='1' max = '150'>
	<br /> 성별 :
	<br />
	<input type="radio" name="gender" value="남" checked>
	<label>남</label>
	<input type="radio" name="gender" value="여">
	<label>여</label>
	<br /> 점수 :
	<input type="number" id="score" min='0' max = '100'>
	<br /> 상태 :
	<br />
	<input type="radio" name="status" value="재직 중" checked>
	<label>재직 중</label>
	<br />
	<input type="radio" name="status" value="휴학 중">
	<label>휴학 중</label>
	<br />
	<input type="radio" name="status" value="자퇴">
	<label>자퇴</label>
	<br />
	<input type="radio" name="status" value="졸업">
	<label>졸업</label>
	<br />
	<button type="button" id = "submitBtn">추가</button>
	</form>

	<br />
	<br />
	<br />
	<br />
	<hr />
	<button type="button" id = "checkBtn">데이터 새로고침</button>
	<table id="table">
		<thead>
			<tr>
				<th>성명</th>
				<th>연령대</th>
				<th>성별</th>
				<th>등급</th>
				<th>상태</th>
			</tr>
		</thead>
		<tbody id = tbody>
	
		</tbody>

	</table>

<!-- js 파일 -->
<script src = "/js/db.js"></script>

</body>
</html>