<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>패스워드 메이커</title>
</head>
<body>
<h1>랜덤 비밀번호 생성기</h1>

<form>
	<p>길이 : <input type = "number" min = "4" max = "12" id = "passwordLen" defaultValue = "8">
	
	<p>숫자포함 : <input type = "checkbox" id = "rqNumber" checked>
	<p>대문자포함 : <input type = "checkbox" id = "rqUpper" checked>
	<p>소문자포함 : <input type = "checkbox" id = "rqLower" checked>
	<p>특수문자포함 : <input type = "checkbox" id = "rqSpecial" checked>
	<br>
	
	<button type = "button" onclick = createPassword()>비밀번호 생성</button>
	<button type = "button">유효성 검증</button>
	<div id = "PWrenderSection"></div>
	
	
</form>




<script>
document.getElementById("passwordLen").value = 8;
function createPassword(){
	//.체크된 것은 필수 포함의 의미, 체크하지 않은 것은 들어가도 되고 들어가지 않아도 된다는 기준으로 진행
    const len = document.getElementById("passwordLen").value;
    const rqNumber = document.getElementById("rqNumber").checked;
    const rqUpper = document.getElementById("rqUpper").checked;
    const rqLower = document.getElementById("rqLower").checked;
    const rqSpecial = document.getElementById("rqSpecial").checked;

    console.log(len, rqNumber);

    let password = "";
    let passType = [];
    
    const isCheck = [rqNumber, rqUpper, rqLower, rqSpecial];

    for (let index = 0; index < len; index++) {
        passType.push(0);
    }

    for (let index = 0; index < 4; index++) {
        if(isCheck[index]){
            putOne(len, index+1, passType);
        }
    }

    console.log(passType);

    for (let index = 0; index < len; index++) {
        password += picker(passType[index]);
    }
    
    const renderSection = document.getElementById("PWrenderSection");
    renderSection.innerText = `${password}`;
}
function putOne(len, type, passtype){
    while(true){
        let index = getRandomInt(0,len);// 0 ~ len-1
        if(passtype[index] == 0){
            passtype[index] = type;
            break;
        }
    }
}

function getRandomInt(min, max) { //min ~ max-1 사이의 정수 난수 리턴
    const minCeiled = Math.ceil(min);
    const maxFloored = Math.floor(max);
    return Math.floor(Math.random() * (maxFloored - minCeiled) + minCeiled); // 최댓값은 제외, 최솟값은 포함
  }

function picker(type){

    const chars =  [
        '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', //0-9
        'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 
        'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 
        'U', 'V', 'W', 'X', 'Y', 'Z',                     //10-35
        'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',
        'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
        'u', 'v', 'w', 'x', 'y', 'z',                     //36-61
         '@', '#', '$', '%', '^'                           //62-66
    ];

    let mychar = '';
    switch (type) {
        case 0:
            mychar = chars[getRandomInt(0,67)];//..아무래도 특수문자의 출현빈도가 낮아지는 부분은?
            break;
        case 1:
            mychar = chars[getRandomInt(0,9)];
            break;
        case 2:
            mychar = chars[getRandomInt(10,35)];
            break;    
        case 3:
            mychar = chars[getRandomInt(36,61)];
            break;
        case 4:
            mychar = chars[getRandomInt(62,67)];
            break;
        default:
            console.log("error")
            mychar = '!';
            break;
    }

    return mychar;

}
</script>


</body>
</html>