<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootlab.practparking.user.UserMapper">

	<insert id="save" parameterType="com.rootlab.practparking.user.User">
		INSERT INTO 
		user (username, password, enabled, role_code, name, tel, email, createtime)
		VALUES
		(#{username}, #{password}, #{enabled}, #{role_code}, #{name}, #{tel}, #{email}, #{createtime});
	
	</insert>

	<select id="findByUsername" parameterType="String">
		SELECT 
        	u.id,
        	u.username,
        	u.password,
        	u.enabled,
        	r.role,
        	u.name,
        	u.tel,
        	u.email

    	FROM 
        	user u
        
        JOIN u_roles r ON u.role_code = r.id
        
        WHERE 
			u.username = #{username};
	
	</select>
	
</mapper>