<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootlab.practice.filemodal.FileMetaMapper">

<resultMap id="FMetaResultMap" type="com.rootlab.practice.filemodal.FileMeta">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <result property="size" column="size" />
    <result property="type" column="type" />
    <result property="createDateTime" column="createtime" />
    <result property="path" column="path" />

</resultMap>

	<insert id="save" parameterType="com.rootlab.practice.filemodal.FileMeta">
		INSERT INTO filemeta (name, size, type, createtime, path) 
		VALUES (#{name},#{size},#{type},#{createDateTime},#{path});
	</insert>

	<select id="find" parameterType="String" resultMap="FMetaResultMap">
		SELECT * FROM filemeta
		WHERE name = #{filename};
	</select>
	
	<select id = "findAll" resultMap="FMetaResultMap">
	
		SELECT * FROM filemeta;
		
	</select>

</mapper>