<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootlab.practice.filemodal.FileMetaMapper">

<resultMap id="FMetaResultMap" type="com.rootlab.practice.filemodal.FileMeta">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <result property="size" column="size" />
    <result property="type" column="type" />
    <result property="createDateTime" column="createtime" />
    <result property="path" column="path" />
    <result property="link" column="link" />
    
</resultMap>

	<insert id="save" parameterType="com.rootlab.practice.filemodal.FileMeta">
		INSERT INTO filemeta (name, size, type, createtime, path, link) 
		VALUES (#{name},#{size},#{type},#{createDateTime},#{path},#{link});
	</insert>


</mapper>