<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootlab.practcomm.reservation.mapper.ReservationMapper">




	<insert id="save" parameterType="com.rootlab.practcomm.reservation.dto.Reservation" 
			useGeneratedKeys="true" keyProperty="id">
		INSERT INTO reservation (keyword, type_code, sort, cron, status_code, createDate, use_yn, jobname)
		VALUES
		(#{keyword}, #{type_code}, #{sort}, #{cron}, #{status_code}, #{createDate}, #{use_yn}, #{jobname});
	</insert>
	
	<select id="selectAll" resultType="com.rootlab.practcomm.reservation.dto.Reservation">
		SELECT 
        	r.id,
        	r.keyword,
        	t.type,
        	r.sort,
        	r.cron,
        	s.status,
        	r.createDate,
        	r.jobname
    	FROM 
        	reservation r
        JOIN type_table t ON r.type_code = t.id
		JOIN status_table s ON r.status_code = s.id
        WHERE 
			r.use_yn = 'y';
	
	</select>
	
	<select id="selectByFields" parameterType="com.rootlab.practcomm.reservation.dto.Reservation" resultType="com.rootlab.practcomm.reservation.dto.Reservation">
    	SELECT 
        	id,
        	keyword,
        	type_code,
        	sort,
        	cron,
        	status_code,
        	createDate,
        	use_yn,
        	jobname
    	FROM 
        	reservation
    	WHERE 
			keyword = #{keyword} AND
        	type_code = #{type_code} AND
        	cron = #{cron};
        	
	</select>
	
	<select id="selectById" parameterType="int" resultType="com.rootlab.practcomm.reservation.dto.Reservation">
    	SELECT 
        	id,
        	keyword,
        	type_code,
        	sort,
        	cron,
        	status_code,
        	createDate,
        	use_yn,
        	jobname
    	FROM 
        	reservation
    	WHERE 
			id = #{id};
	</select>
	
	<update id="update" parameterType="com.rootlab.practcomm.reservation.dto.Reservation">
    	UPDATE reservation
    	SET 
    		cron = #{cron},
    		sort = #{sort},
    		status_code = #{status_code},
        	use_yn = #{use_yn}
    	WHERE 
        	id = #{id};
	</update>
	
	<delete id="delete" parameterType="int">
    	DELETE FROM reservation
    	WHERE id = #{id};
	</delete>

</mapper>